<div data-role="header">
  {%unless page.layout %}
    {% include components/buttons/parent.liquid %}
  {% endunless %}

  <h1>{{ include.title }}</h1>

  {% if page.last.panel and include.parent == "menu" %}
    {% include components/buttons/panel.liquid %}
  {% endif %}
</div>
