<div data-role="page" id="menu">

  {% include components/header.liquid title=site.title %}

  <div role="main" class="ui-content">
    <div>{{ site.description }}</div>

    {% for page in site.data.pages %}
      {% include components/buttons/nav-item.liquid %}
    {% endfor %}
  </div>

  {% include components/footer.liquid %}

</div>
