<div data-role="page" id="{{ page.first | downcase | url_encode }}">

  {% include components/panel.liquid %}
  {% include components/header.liquid 
     title=page.last.title
     parent="menu"
  %}

  <div role="main" class="ui-content">
    <div>{{ page.last.body }}</div>

    {% if page.last.subpage %}
      {% include components/buttons/subpage.liquid %}
    {% endif %}
  </div>

  {% include components/footer.liquid %}

</div>

{% if page.last.subpage %}
  {% include components/subpage.liquid %}
{% endif %}
