<div data-role="page" id="sub{{ page.first | downcase | url_encode }}">

  {% include components/header.liquid
     title=page.last.subpage.title
     parent=page.first
  %}

  <div role="main" class="ui-content">
    <div>{{ page.last.subpage.body }}</div>
  </div>

  {% include components/footer.liquid %}

</div>
